# MAT281 - Laboratorio N°03

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información de distintos usuarios (edad ,sexo, profesión, etc.).

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [93]:
import pandas as pd
import os

In [63]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|")
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1.- ¿Cuál es el número de observaciones en el conjunto de datos?

In [64]:
df.shape[0]

943

2.- ¿Cuál es el número de columnas en el conjunto de datos?

In [65]:
df.shape[1]

5

3.- Imprime el nombre de todas las columnas

In [66]:
df.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

4.- Imprima el índice del dataframe

In [67]:
df.index

RangeIndex(start=0, stop=943, step=1)

5.- ¿Cuál es el tipo de datos de cada columna?

In [68]:
df.dtypes

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6.- Describir el conjunto de datos (**hint**: .describe())

In [69]:
df.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

7.- Imprimir solo la columna de **occupation**.

In [70]:
df.occupation

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

8.- ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [71]:
len(df.occupation.unique())

21

9.- ¿Cuál es la ocupación más frecuente?

In [72]:
df["occupation"].value_counts().idxmax()

'student'

10.- ¿Cuál es la edad media de los usuarios?

In [73]:
df["age"].mean()

34.05196182396607

11.- ¿Cuál es la edad con menos ocurrencia?

In [74]:
df["age"].value_counts().idxmin()

11

In [76]:
df["age"].min()

7

12.- Encontrar la edad promedio según la variable **occupation**

In [82]:
a = df.groupby(["occupation"]).age.mean()
print(np.array(a))

NameError: name 'np' is not defined

In [92]:
df.groupby(["occupation"]).age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

## Problema 02


<img src="https://image.freepik.com/vector-gratis/varios-automoviles-dibujos-animados_23-2147613095.jpg" width="360" height="360" align="center"/>


EL conjunto de datos se denomina `Automobile_data.csv`, el cual contiene información tal como: compañia, precio, kilometraje, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [58]:
# cargar datos
df = pd.read_csv(os.path.join("data","Automobile_data.csv")).set_index('index')
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. Elimine los valores nulos (Nan)

In [59]:
df=df.dropna()

2. Encuentra el nombre de la compañía de automóviles más cara

In [60]:
df.groupby(["company"]).price.mean(["price"]).idxmax()

UnsupportedFunctionCall: numpy operations are not valid with groupby. Use .groupby(...).mean() instead

3. Imprimir todos los detalles de Toyota Cars

In [ ]:
df.where(df["company"] =="toyota").dropna()

4. Cuente el total de automóviles por compañía

In [ ]:
df.groupby(["company"]).company.count()

5. Encuentra el coche con el precio más alto por compañía

In [ ]:
df.groupby(["company"]).price.idxmax()

6. Encuentre el kilometraje promedio (**average-mileage**) de cada compañía automotriz

In [ ]:
df.groupby(["company"])["average-mileage"].mean()

7. Ordenar todos los autos por columna de precio (**price**)

In [ ]:
df.price.sort_values()

## Problema 03


Siguiendo la temática de los automóviles, resuelva los siguientes problemas:

### a) Subproblema 01
A partir de los siguientes diccionarios:

In [ ]:
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'],
              'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 
                'Price': [29995, 23600, 61500 , 58900]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
* Concatene ambos dataframes (**carsDf**) y añada una llave ["Germany", "Japan"], según corresponda.

In [ ]:
carsDf1=pd.DataFrame(GermanCars)
carsDf2=pd.DataFrame(japaneseCars)
carsDf1
carsDf2
pd.concat([carsDf1,carsDf2], keys=["Germany","Japan"])

### b) Subproblema 02

A partir de los siguientes diccionarios:

In [ ]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

* Cree dos dataframes (**carsDf1** y **carsDf2**) según corresponda.
*  Junte ambos dataframes (**carsDf**) por la llave **Company**.

In [ ]:
carsDf1=pd.DataFrame(Car_Price)
carsDf2=pd.DataFrame(car_Horsepower)
carsDf1.set_index("Company").join(carsDf2.set_index("Company"))
#o alternativamente:
#carsDf1.join(carsDf2.set_index("Company"), on="Company")